[v-cloak] {
  display: none !important;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: #eef1f6;
}

.scroll-div {
  display: block;
  position: absolute;
  top: 60px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.searchMenu{
  display: flex;
  flex-direction: row;

  display: -webkit-flex;
  -webkit-flex-direction: row;
}

.searchInput{
  border-bottom: solid 1px #e6e6e6;
  background-color: #fff;
  height: 1.6rem /* 120/75 */;
  text-align: center;
  width: 60%;
  padding-left: .6rem /* 45/75 */;
}

.searchBtn{
  border-bottom: solid 1px #e6e6e6;
  background-color: #fff;
  height: 1.6rem /* 120/75 */;
  line-height: 1.6rem /* 120/75 */;
  text-align: center;
  width: 40%;
}

.el-input{
  line-height: 1.6rem /* 120/75 */;
  /*width: 50% !important;*/
}

.info-form{
  width: 80%;
  margin-left: 1rem /* 75/75 */;
}

.submit-btn{
  margin-top: .15rem /* 11/75 */;
  width: 5.64rem /* 423/75 */;
  height: 1.33rem /* 100/75 */;
  margin-left: 2.24rem /* 168/75 */;
}

.self-desc{
  text-align: center;
  width: 100%;
}

.self-desc p{
  padding: .67rem /* 50/75 */;
}
